$colorPrimary: #282728;
$colorPrimaryAlternate: #101010;

$colorSecondary: #FBFBFB;
$colorSecondaryAlternate: #FFF;

$colorAccent: #18BC28;
$colorAccentSecondary: #18BC28;
$colorAccentGreen: #17bb27;
$colorAccentOrange: #ff8800;
$colorAccentBlue: #3291ff;

$colorblack: black;
$colorTextAlternative: #696969;

body{
    font-family: 'Lato', sans-serif;
}

.modal-body input {
    margin-bottom: 10px;
}

.btn-success{
    background-color: $colorAccent;
    border-radius: 0px;
    height: 55px;
}

.navbar {
    transition: all 0.6s ease-out;
    background: rgba(40, 39, 40, 0);
    color: $colorSecondary;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: none;
    padding-top: 15px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 5px;
    
    @media (max-width: 768px){
        padding-left: 0px;
        padding-right: 0px;
    } 

    a {
        color: $colorAccent;
        border-bottom: none;
        text-decoration: none;
        padding: 10px 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        
    }

    &.scrolled {
        background: rgba(40, 39, 40, 1);
        transition: all 0.6s ease-out;
    }

    .logo-container.navbar-brand{
        display: flex; 
        align-items: center;
        pointer-events:none;

        .logo-title{
            margin-left: 8px; margin-top: 0px; margin-bottom: 0px;
        }
    }

    .phone-number{
        text-align: end;
    }

    .links {
        font-weight: bold;
        margin-right: 82px;
    }

    .navbar-collapse .row{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        display: flex; 
        align-items: center;
    }

    @media (max-width: 768px){
        .links {
            margin-right: 0px;
            width: 100%;
        }
    } 
} // .navbar

header {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: $colorSecondary;
    padding-top: 24vh;
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $colorPrimaryAlternate;
        opacity: 0.8;
        z-index: 1;
    }

    h1{
        font-size: 24px;
        font-weight: 600;
    }

    h2{
        font-size: 72px;
        font-weight: 300;

        @media (max-width: 768px){
            font-size: 48px;
        } 
    }

    .btn{
        font-size: 15px;
        width: 230px;
        margin-top: 55px;
        font-weight: 800;
    }
} // header

.whyDisappearDents {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 10px;
    padding-right: 10px;

    h4 {
        font-size: 28px;
        font-weight: 900;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-left: 10px solid #4cae4c;

        
    }

    // .second-row{
    //     margin-top: 50px;
    // }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p{
        margin-bottom: 60px;
        margin-top: 15px;
    }

    
}

.mobileAppSection {
    color: $colorSecondary;
    background-color: $colorPrimary; 
    padding-bottom: 80px;

    .left-side{
        background-color: $colorPrimary; 
        // height: 690px;
        padding-top: 70px;

        @media (min-width: 768px){
            height: 690px;
        } 

        .container{
            padding-top: 50;

            .row {
                margin-top: 50px
            }
        }

        img{
            max-width: 100%;
        }

        h2{
            font-size: 20px;
            margin-bottom: 0px;
        }

        h1{
            font-size: 46px;
            font-weight: 900;
            margin-top: 5px;

            @media (max-width: 768px){
                font-size: 24px;
                margin-bottom: 24px;
            } 
        }
    }

    .img-container-sm{
        
        margin-bottom: 32px;

        @media (min-width: 768px){
            display: none;
        } 
    }

    .img-container-lg{
        @media (max-width: 768px){
            display: none;
        } 

        img{
            max-width: 80%;
        }
    }

    .right-side{
        background-color: $colorAccent; 
        height: 690px;
        padding-top: 70px;

        .mobile-app-image{
            height: 900px; 
            margin-right: 60px; 
            margin-top: 50px; 
            margin-bottom: -267px;
            max-width: none;
        }

        @media (max-width: 768px){
            .mobile-app-image{
                height: auto; 
                margin-right: 0px; 
                max-width: 100%;
            }
        } 
    
    }
}

.whyBeneficialSection {
    color: $colorSecondary;
    padding-top: 150px;
    padding-bottom: 150px;

    // padding-left: 50px;
    // padding-right: 50px;

    background-size: cover;
    background-image: url('../assets/section 4/section 4 - bg.jpg');

    video{
        margin-top: 100;
    }

    .first-row{
        margin-top: 150px;
    }

    .second-row{
        margin-top: 250px;

        @media (max-width: 768px){
            margin-top: 0px;
        } 
    }

    h2{
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 50px;

        @media (max-width: 768px){
            font-size: 32px;
        } 

    }

    ul > li{
        font-size: 24px;
        margin-bottom: 12px;

        @media (max-width: 768px){
            font-size: 20px;
        } 
    }

    .video-container{
        padding-top: 130px;
    
    }
}

.ourWorksAndServiceSection {
    padding-top: 50px;

    background-size: cover;
    background-image: url('../assets/section 5/section 5 - bg.jpg');

    .fade-bottom{
        padding-bottom: 150px;
        // background-image: linear-gradient(to bottom, rgba(255, 255, 255, .0001) 0%, rgba(255, 255, 255, 1) 100%);
    }
    .ourService{
        h1{
            font-size: 64px;
            font-weight: 500;
        }

        h3{
            font-weight:  bold;
        }

        .our-service-item{
            text-align: center;
            margin-bottom: 12px;
                p{
                    font-weight: 600;
                }
        }

        .our-service-subtitle{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 65px;
        }

        .we-understand-text{
            color: $colorAccentGreen;
        }

        .best-solutions-text{
            color: $colorAccentOrange;            
        }

        .quick-turnaround-text{
            color: $colorAccentBlue;            
        }
        
    }

    .ourWorks{
        h1{
            font-size: 64px;
            font-weight: 500;
            margin-bottom: 70px;
        }

        h2{
            font-size: 32px;
            font-weight: 900;
        }

        hr {
            text-align: left;
            border-top: 12px solid $colorAccentGreen;
            width: 32%;
        }

        p{
            max-width: 75%;
            margin-top: 32px;
            font-size: 22px;
            color: $colorTextAlternative;
        }
        .before-after-images{
            max-width: 100%;
            margin-bottom: 50px;
        }

        
    }
}

.blogPosts {
    padding-top: 50px;
    padding-bottom: 150px;

    hr{
        border-top: 12px solid $colorAccentGreen;
            width: 12%;
    }
    h1{
        font-size: 40px;
        font-weight: 900;
    }
    .container{
        text-align: center;
    }
    .post-image{
        margin-top:60px;
        margin-bottom:30px; 
        margin-top: 0px;

        @media (max-width: 768px){
            display: block;
            margin-left: auto;
            margin-right: auto;
            float: none!important;;
        } 
    }
    .post-content{
        text-align:left;

        hr{
            width: 110px; 
            margin-left: 0;
        }
        .title{
            margin-top: 0;
            font-weight: 900;
        }
        .date{
            font-size: 18px; 
            color: #696969; 
            font-weight: 800;
            margin-bottom: 30px;
        }
        .body{
            font-size: 20px;
        }
    }
    h1 {
        margin-bottom:50px;
        text-align: center;
    }
    button {
        text-align: center;
    }
    a {
        text-align: center;
        margin-top:50px;
        background-color: transparent;
        border-radius: 0px;
        border-color: $colorAccent;
        border-width: 2px;
        color: $colorAccent;
        font-weight: 800;
        padding: 20px;

        &:hover{
            text-align: center;
            margin-top:50px;
            background-color: transparent;
            border-radius: 0px;
            border-color: $colorAccent;
            border-width: 2px;
            color: $colorAccent;
            font-weight: 400;
            padding: 20px;
        }
    }

}

.testimonialSection {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
    background-size: cover;
    background-image: url('../assets/section 7/sec 7 bg.jpg');

    
    hr {
        margin-bottom: 0px;
        border-top: 8px solid #4cae4c;
        width: 6%;
    }
    h3 {
        color: $colorSecondary;
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .sub-title{
        font-size:20px; 
        margin-top:0px; 
        color: $colorSecondaryAlternate;
        margin-bottom: 64px;
    }
    .carousel {
        border-radius: 5px;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .leave-review-button{
        margin-top:50px;
    }
    .testimonials{

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 16px;

        .rr_title{
            color: $colorPrimary;
            font-weight: 900;
            font-size: 48px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        .stars{
            margin-top: -10px;
            font-size: 40px;
            color: $colorAccent;
            font-weight: 900;
            margin-bottom: 24px;
        }
        .rr_review_text{
            font-size: 20px;
        }
        .rr_review_name{
            margin-top: 24px;
            color: $colorAccent;
            font-size: 24px;
            font-weight: 900;
        }
        .carousel-indicators{
            margin-top: 24px;

            li{

                background-color: $colorPrimary;

                &.active{
                    background-color: $colorAccent;
                }
            }
            
        }
    }
}

.description_section {
    padding-top: 100px;
    padding-bottom: 100px;
    line-height:28px;
    h1{
        font-weight: 900;
    }
    hr {
        margin-bottom: 10px;
        border-top: 12px solid #4cae4c;
        width: 9%;
    }
    img{
        max-width: 100%;
    }
    p{
        font-weight: 400;
        font-size: 18px;
    }
    .title{
        font-size:59px; 
        margin-top:-20px;
        font-weight: 900;
    }
    .hail-damages{
        margin-top:50px;
    }
    .disDentsSideInfo {
        
        margin-top: 24px;
        border-left: #cacaca;
        border-left-style: solid;
        padding-left: 50px;
        border-left-width: 1px;

        hr{
            margin-bottom: 0px;
            border-top: 5px solid #4cae4c;
            width: 50%;
        }
        h3{
            font-weight: 900;
        }
        h2{
            font-size: 24px;
            font-weight: 600;
            margin-top: 2px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
        }
    }
    .social-media{
        height: 55px;
    }
} 

.contact_us_section {
    padding-top: 100px;
    background-size: cover;
    background-image: url('../assets/footer/footer - bg.jpg');

    .fade-bottom{
        padding-bottom: 100px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 1) 100%);
    }

    hr {
        margin-bottom: 0px;
        border-top: 8px solid #4cae4c;
        width: 6%;
    }
    h1 {
        text-align: center;
        color: $colorSecondary;
        font-weight: bold;
        margin-bottom: 50;
        margin-top: 15px;
        font-size: 33px;
    }
    form {
        padding-right: 100px;
        padding-left: 100px;

        @media (max-width: 768px){
            padding-right: 0px;
            padding-left: 0px;
        } 

        input {
            height: 55px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 4px 4px 4px 15px;
            width: 100%;
            color: $colorSecondary;
            font-size: 17px;
            border-radius: 0;
        
        }
        textarea {
            height: 250px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 4px 4px 4px 15px;
            width: 100%;
            color: $colorSecondary;
            font-size: 17px;
            border-radius: 0;
        }

        button {
            height: 55px;
            margin-bottom: 20px;
        }
    }
} // contact_us_section

footer {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: $colorblack;

    h3 {
        margin-top: 0px;
        font-weight: bold;
        font-size: 13px;
        color: $colorAccent;
        text-align: center;
    }

    p {
        color: $colorSecondary;
        font-size: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
}
