$colorPrimary: #282728;
$colorPrimaryAlternate: #101010;

$colorSecondary: #FBFBFB;
$colorSecondaryAlternate: #FFF;

$colorAccent: #17BC28;

$colorblack: black;
body{
    font-family: 'Lato', sans-serif;
}

.modal-body input {
    margin-bottom: 10px;
}

.navbar {
    transition: all 0.6s ease-out;
    background: rgba(40, 39, 40, 0);
    border: none;
    color: $colorSecondary;

    a {
        color: $colorSecondary;
        border-bottom: none;
        text-decoration: none;
        padding: 10px 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        
    }

    &.scrolled {
        background: rgba(40, 39, 40, 1);
        border-bottom: solid $colorPrimaryAlternate 1px;
        transition: all 0.6s ease-out;
    }

    .logo-container{
        display: flex; 
        align-items: center;

        .logo-title{
            margin-left: 15px; margin-top: 0px; margin-bottom: 0px;
        }
    }

    .phone-number{
        text-align: end;
    }

    .links {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .navbar-collapse .row{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        display: flex; 
        align-items: center;
    }
} // .navbar

header {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: $colorSecondary;
    padding-top: 37vh;
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $colorPrimaryAlternate;
        opacity: 0.8;
        z-index: 1;
    }
} // header

.whyDisappearDents {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 10px;
    padding-right: 10px;

    h4 {
        padding-left: 10px;
        margin-top: 0px;
        border-left: 5px solid #4cae4c;
    }

    .second-row{
        margin-top: 50px;
    }
}

.mobileAppSection {
    color: $colorSecondary;

    .left-side{
        background-color: $colorPrimary; 
        height: 690px;

        .container{
            padding-top: 50;

            .row {
                margin-top: 50px
            }
        }
    }

    .right-side{
        background-color: $colorAccent; 
        height: 690px;

        .mobile-app-image{
            height: 900px; margin-right: 60px; margin-top: 50px; margin-bottom: -267px;
        }
    }
}

.whyBeneficialSection {
    color: $colorSecondary;
    padding-top: 200px;
    padding-bottom: 150px;

    padding-left: 50px;
    padding-right: 50px;

    background-size: cover;
    background-image: url('../assets/section 4/section 4 - bg.jpg');

    video{
        margin-top: 100;
    }
}

.ourWorksAndServiceSection {
    padding-top: 50px;
    padding-bottom: 150px;

    background-size: cover;
    background-image: url('../assets/section 5/section 5 - bg.jpg');

    .ourService{
        h1{
            font-size: 64px;
        }
    }

    .ourWorks{
        h1{
            font-size: 64px;
            margin-bottom: 70px;
        }

        .before-after-images{
            max-width: 100%;
            margin-bottom: 50px;
        }
    }
}

.blogPosts {
    padding-top: 50px;
    padding-bottom: 150px;

    .container{
        text-align: center;
    }
    .post-image{
        margin-top:60px;
        margin-bottom:30px; 
        margin-top: 0px;
    }
    .post-content{
        text-align:left;

        hr{
            width: 110px; 
            margin-left: 0;
        }
        .title{
            margin-top: 0;
        }
        .date{
            font-size: 14px; 
            color: #696969; 
            font-weight: 700;
        }
    }
    h1 {
        margin-bottom:50px;
        text-align: center;
    }
    button {
        text-align: center;
    }
    a {
        text-align: center;
        margin-top:50px;
    }

}

.testimonialSection {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
    background-size: cover;
    background-image: url('../assets/section 7/sec 7 bg.jpg');

    
    hr {
        margin-bottom: 0px;
        border-top: 8px solid #4cae4c;
        width: 6%;
    }
    h3 {
        color: $colorSecondary;
    }
    .sub-title{
        font-size:16px; 
        margin-top:15px; 
        color: $colorSecondaryAlternate;
    }
    .carousel {
        height: 350px;
        background-color: rgba(255, 255, 255, 0.82);
    }
    .leave-review-button{
        margin-top:50px;
    }
}

.description_section {
    padding-bottom: 150px;
    line-height:28px;

    hr {
        margin-bottom: 10px;
        border-top: 8px solid #4cae4c;
        width: 9%;
    }
    img{
        max-width: 100%;
    }
    .title{
        font-size:59px; 
        margin-top:-20px;
    }
    .hail-damages{
        margin-top:50px;
    }
    .disDentsSideInfo {
        border-left: #cacaca;
        border-left-style: solid;
        padding-left: 50px;
        border-left-width: 1px;
    }
    .social-media{
        height: 45px;
    }
} 

.contact_us_section {
    padding-bottom: 100px;
    padding-top: 30px;
    background-size: cover;
    background-image: url('../assets/footer/footer - bg.jpg');

    hr {
        margin-bottom: 0px;
        border-top: 8px solid #4cae4c;
        width: 6%;
    }
    h1 {
        text-align: center;
        color: $colorSecondary;
        font-weight: bold;
        margin-bottom: 50;
        margin-top: 15px;
        font-size: 33px;
    }
    form {
        padding-right: 100px;
        padding-left: 100px;

        input {
            height: 55px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 4px 4px 4px 15px;
            width: 100%;
            color: $colorSecondary;
            font-size: 17px;
            border-radius: 0;
        
        }
        textarea {
            height: 250px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 4px 4px 4px 15px;
            width: 100%;
            color: $colorSecondary;
            font-size: 17px;
            border-radius: 0;
        }

        button {
            height: 55px;
            margin-bottom: 20px;
        }
    }
} // contact_us_section

footer {
    padding: 50px;
    background-color: $colorblack;

    h3 {
        margin-top: 0px;
        font-weight: bold;
        font-size: 13px;
        color: $colorAccent;
        text-align: center;
    }

    p {
        color: $colorSecondary;
        font-size: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
}
